input[type="checkbox"] {
  vertical-align: middle;
}

.puzzlelist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.puzzlelist-header h3 {
  margin: 0;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: gift;
  gap: 0.1rem;
}